**/*state.json
**/*state.json.backup
**/.*.sw?
**/.terraform
secret.yml
*.tfstate
*.tfvars
tmp*.tfvars.json

*.pem
*.pem.*
*.creds.yml

tmp*.yml
foo.yml

.vs
.vs/*

*.lock.info
**/.DS_Store
data/**

.vagrant
*-cloudimg-console.log