[submodule "concourse-bosh-deployment"]
	path = concourse-bosh-deployment
	url = https://github.com/concourse/concourse-bosh-deployment.git
[submodule "bosh-deployment"]
	path = bosh-deployment
	url = https://github.com/cloudfoundry/bosh-deployment.git
[submodule "cf-deployment"]
	path = cf-deployment
	url = https://github.com/cloudfoundry/cf-deployment.git
[submodule "prometheus-boshrelease"]
	path = prometheus-boshrelease
	url = https://github.com/bosh-prometheus/prometheus-boshrelease.git
[submodule "cf-rabbitmq-multitenant-broker-release"]
	path = cf-rabbitmq-multitenant-broker-release
	url = https://github.com/pivotal-cf/cf-rabbitmq-multitenant-broker-release
